
@{
    ViewBag.Title = "About";
}

<h4 class="centerize">About</h4>
<p>One thing I really enjoy is good beer.  I wanted a concise and quick list of breweries in the area.  This application is a Work In Progress with the current opportunity to only search breweries</p>

